<head>
  <meta charset="utf-8">
  <!-- BootstrapのCSS読み込み -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/stylesheet.css">
  <!-- Awesomeの読み込み-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <!-- jQuery読み込み -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- BootstrapのJS読み込み -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>


<body class="not-boot-body">
  <div class="task-index-header">
    <span class="fas fa-file-download" aria-hidden="true"></span>
    タスク一覧
  </div>
        
    <table class="table">
        <tr>
            <th>番号</th>
            <th>タスク名</th>
            <th>締め切り</th>
            <th>重要度</th>
        </tr>

        {% for task in tasks %}
        <tr>
          <th>{{task[0]}}</th>
          <th>{{task[1]}}</th>
          <th>{{task[2]}}</th>
          <th>{{task[3]}}</th>
        </tr>
        {% endfor %}
    </table>

    <div class="task-index-container">
      <div class="task-index-header">
        対象タスク番号
      </div>      
      <form action="?" method="POST">
          <fieldset class="form-group">
              <div class="form-group">
                  <input type="text" class="form-control" name="task_id" value="">
              </div>
              
              <button type="submit" formaction= "finish" name="_METHOD" class="btn btn-primary">Finish</button>
              <button type="submit" formaction="select" name="_METHOD" class="btn btn-warning">Edit</button>
              <button type="submit" formaction="del" name="_METHOD" class="btn btn-danger">Delete</button>
              <a class="btn btn-success" href="{{url_for('portal')}}" role="button">Portal</a>
          </fieldset>
      </form>
    </div>
</body>