<html lang="en">

    <head>
        <meta charset="utf-8">
        <!-- BootstrapのCSS読み込み -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/stylesheet.css">
        <!-- jQuery読み込み -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- BootstrapのJS読み込み -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    <body class="not-boot-body">
        <img src="/weekly_task.png" class="graph" alt=""></img>
        <a class="btn btn-success back" href="{{url_for('portal')}}" role="button">Portal</a>
    </body>
</html>